html {
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
}
body{
    width: 99%;
    height: 99%;
    border: 0 none;
    background-color:#f0f0f0;
    color: #000000;
    font-family:  "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 170%;
}
h1{
    color:#878787;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-weight: bold;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    color: #444444;
    border-bottom: 1px solid #878787;
}
h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #444444;
    border-bottom: 1px solid #878787;
}
hr{
    border: none;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.red {
    color: red;
}
div.loading {
    width: 100px;
    margin: 50px auto 0;
}
div.loading img {
    width: 100%;
}











#top {
    margin-bottom: 10px;
}
#mainLogo {
    width: 120px;
    margin: 10px 30px 0 10px;
    float: left;
}
.panel {
    border: 1px solid #d0d0d0;
}
#contents {
    float:left;
    width: 20%;
    margin-right: 5px;
    height: 99%;
    min-height: 300px;
    overflow: hidden;
}
#contents.closed {
    width: 22px;
}
.header {
    margin: 0;
    font-weight:bold;
    font-size: 12px;
    background-image: url(white-top-bottom.gif);
    padding:5px 3px 4px 5px;
    line-height: 15px;
    height: 15px;
}
a.headerTitle {
    font-weight: bold;
    font-size: 12px;
}
.panel.closed a.headerTitle {
    display: none;
}
.tool {
    width:15px;
    height:15px;
    background-image: url(tool-sprites.gif);
    border-radius: 2px;
    overflow:hidden;
    float:right;
    cursor:pointer;
    margin-left:2px;
}
.collapser.left {
    background-position: 0 -180px;
}
.collapser.left:hover {
    background-position: -15px -180px;
}
.collapser.right {
    background-position: 0 -165px;
}
.collapser.right:hover {
    background-position: -15px -165px;
}
#contentsList{
    height: 100%;
    overflow: auto;
    padding: 5px;
}
.panel.closed #contentsList {
    visibility: hidden;
}
#contentsList ul {
    margin: 0;
    padding-left: 15px;
    list-style: none;
    font-size: 11px;
}
#contentsList ul.first {
    padding-left: 5px;
}
#contentsList li {
    cursor: pointer;
}
#contentsList li a{
    text-decoration: underline;
    color: #0200c7;
}
#contentsList li a:hover{
    color: #c70410;
}
#contentsList ul:not(.first) li.submenu{
    position: relative;
    left: -17px;
}
#contentsList li.submenu span.submenuIcon{
    background: url(tree_minus.gif) no-repeat;
    margin: 0;
}
#contentsList li.submenu.closed span.submenuIcon{
    background: url(tree_plus.gif) no-repeat;
}
#contentsList li.submenu.closed + ul {
    display: none;
}
#main {
    float: left;
    width: 78%;
    height: 100%;
    overflow: hidden;
    min-height: 300px;
}
#main.extended {
    width: 96%;
}
#help {
    height: 100%;
    overflow: auto;
    padding: 5px 20px 5px;
}
footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-top: 1px solid gray;
    float: none;
    clear: both;
}
.gotoPrev {
    float: left;
    font-size: 14px;
}
.gotoNext {
    float: right;
    font-size: 14px;
}









.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.clearer{
    float: none;
    clear: both;
}